.wrapper {
    position: relative;
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(https://images.unsplash.com/photo-1573164713988-8665fc963095?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=980&q=80);
    background-size: cover;
    background-position: center;
  
    @media (max-width:$mantine-breakpoint-xs) {
      padding-top: 80px;
      padding-bottom: 50px;
    }
}
  
.inner {
position: relative;
padding: calc(2*var(--mantine-spacing-xl));
z-index: 1;
width:auto;
backdrop-filter: blur(16px) saturate(180%);
-webkit-backdrop-filter: blur(16px) saturate(180%);
background-color: rgba(255, 255, 255, 0.3);
border-radius: var(--mantine-radius-sm);
border: 1px solid rgba(var(--mantine-color-default-border), 0.35);

@media (max-width:$mantine-breakpoint-xs) {
    padding:var(--mantine-spacing-xl) var(--mantine-spacing-md);
}
}
  
.title {
padding-left: var(--mantine-spacing-md);
padding-right: var(--mantine-spacing-md);
color: var(--mantine-color-white);
margin-bottom: var(--mantine-spacing-xs);
text-align: center;
}

.description {
color: var(--mantine-color-gray-0);
}

.profilePicture{
    border-radius:50%;
}