.custom-card {
  position: relative; /* Assurez-vous que la carte est positionnée */
}

.custom-card:hover {
  border-width: 0px;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container {
  overflow: hidden;
  transition: filter 0.3s;
}

.card-image {
  transition: transform 0.3s;
  overflow: hidden;
}

/* Styles lorsque la carte est survolée */
.custom-card.hovered .card-text {
  opacity: 1;
}

.custom-card.hovered .image-container {
  filter: blur(3px) grayscale(50%);
  overflow: hidden;
}

.custom-card.hovered .card-image {
  transform: scale(1.1);
  overflow: hidden;
}

/* Styles lorsque le texte est visible */
.card-text.visible {
  opacity: 1;
}
