.card {
  display: flex;
  flex-direction:row;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));

  @media (max-width: $mantine-breakpoint-xs){
    flex-direction:column;
}
}

.firstSection {
  flex: 1;
  @media (max-width: $mantine-breakpoint-xs){
    border-bottom: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-3);
}
}

.secondSection {
  flex: 2;
  display:flex;
  flex-direction: column;
  justify-content: center;
}